.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;

}

@media (max-width: 560){
    .container{
        grid-template-columns: 100%;
    }
}

.botones {
    text-align: center;
    padding-bottom: 20px;
}

.boton{
    background-color: #01702d;
    color: white;
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: white;
    color: #01702d;
}

.encabezado{
    text-align: center;
}

.slogan-section {
    background-color: #333;
    padding: 40px 60px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .slogan-section h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
  }

  .slogan-section p {
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
  }

  @media(max-width: 700px) {
    .slogan-section {
        border-radius: 0px;
      }
}